body {
  background: rgb(214, 209, 209);
}
.btn {
  padding: 3px 6px;
}
.card-body img {
  width: 100%;
}
.card-body {
  padding: 0;
}
div.card-footer {
  background-color: rgba(174, 171, 171, 0.671);
}
.img-thumbnail {
  padding: 0;
}
.caption {
  padding-bottom: 5px;
}
#delete-form {
  display: inline-block;
}
